.about_container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about_me{
    transform: rotate(10deg);
    border-radius: 2rem;
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg,transparent,var(--color-primary),transparent);
}

.about_me_image{
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);

}
.about_me_image:hover{
    transform: rotate(-10deg);
}
.about_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.about_card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);

}
.about_card:hover{
    background: transparent;
    border:var(--color-bg-variant);
}
.about_icon{
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about_card h5{
    font-size: .9rem;
}
.about_card small{
    font-size: .7rem;
    color: var(--color-light);
}

.about_content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* media queries mopile */
@media (max-width: 1024px) {
    .about_container{
        display: flex;
    }
  .about_me{
    display: none;
  }
}
@media (max-width: 600px) {
    .about_cards{
        display: flex;
        flex-direction: column;
        
    }
}