.home {
  height: 100vh;
  padding-top: 100px;
  overflow: hidden;
}
.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}
.home_container h4 {
  font-size: 1.5rem;
}

.btns {
  display: flex;
  gap: 1.2rem;
  margin-top: 2.5rem;
}
.bt {
  padding: 10px;
}
.me {
  width: 330px;
  height: 400px;
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 12rem 12rem 0 0;
  margin-top: 30px;
}
.me img {
  width: 140%;
  padding-right: 30%;
  padding-top: 20px;
}

.scroll_down {
  position: absolute;
  right: -30px;
  bottom: 80px;
  transform: rotate(90deg);
  font-weight: 300;
}
.icons {
  position: absolute;
  left: 0px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
}

@media (max-width: 600px) {
  .scroll_down {
    display: none;
  }
  .icons {
    flex-direction: row;
    gap: 30%;
    justify-content: center;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.3);
    padding: .5rem 1.7rem .1rem ;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

  }
}
